.header {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 75px;

	color: white;

	font-size: 35px;

	text-align: center;
	background: #1c1c1c;

	user-select: none;

	span {
		transition-duration: 0.2s;

		&:hover {
			transform: scale(1.05);
		}
	}
}
